backend/.env
/backend/.venv
/backend/ai_assistant/__pycache__
backend/ai_assistant/migrations/__pycache__/0003_wallet_wallettransaction.cpython-311.pyc
/backend/ai_assistant/services/__pycache__
/backend/core/__pycache__
/backend/gamification/__pycache__
/backend/savings_goals/__pycache__
/backend/savings_goals/migrations/__pycache__
/backend/sockets/__pycache__
/backend/sockets/migrations/__pycache__
/backend/transactions/__pycache__
/backend/users/__pycache__
backend/users/migrations/__pycache__/0002_user_email_verification_sent_at_and_more.cpython-311.pyc
backend/users/migrations/__pycache__/0003_user_credits_notification.cpython-311.pyc
/backend/users/migrations/__pycache__
/Logic_Legion_Finexa-staging
